@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Helvetica";
  margin: 0;
  box-sizing: border-box;
}

.ql-toolbar {
  width: 100% !important;
}

.ql-editor {
  display: flex;
  width: 100% !important;
  height: 200px !important;
  overflow-y: scroll;
  resize: vertical;
}

.ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

/* Tags Input CSS Add question */

.rti--container:focus {
  border: 2px solid blue !important;
  opacity: 50% !important;
  transition-duration: 200ms !important;
}

.rti--container>.rti--input {
  width: 100%;
}

.rti--container>.rti--input:focus {
  outline: none !important;
  box-shadow: none;
}